.fade-enter-active, .fade-leave-active {
    transition: all .5s;
    animation: righttoleft 0.5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
    animation: lefttoright 0.5s;
  }
  @keyframes lefttoright {
      0%{
          left: 10px;
      }
      100%{
          left: 0;
      }
  }
  @keyframes righttoleft{
    0%{
        left: 0px;
    }
    100%{
        left: 10px;
    }
  }
  .animationstart1{
    -webkit-animation: swing-in-top-fwd 2s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    animation: swing-in-top-fwd 2s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }
  .animationstart2{
    -webkit-animation: swing-in-top-fwd 2s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    animation: swing-in-top-fwd 2s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  .animationstartfont{
    /* -webkit-animation: swing-in-top-fwd 2s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    animation: swing-in-top-fwd 2s cubic-bezier(0.175, 0.885, 0.320, 1.275) both; */
    -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	  animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
 
  }
  .animationstart3{
    /* -webkit-animation: swing-in-top-fwd 2s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    animation: swing-in-top-fwd 2s cubic-bezier(0.175, 0.885, 0.320, 1.275) both; */
    -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	  animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }
  

  @-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-50px);
              transform: translateX(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-50px);
              transform: translateX(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  
  @-webkit-keyframes swing-in-top-fwd {
    0% {
      -webkit-transform: rotateX(-100deg);
              transform: rotateX(-100deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 1;
    }
  }
  @keyframes swing-in-top-fwd {
    0% {
      -webkit-transform: rotateX(-100deg);
              transform: rotateX(-100deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 1;
    }
  }
  
  tr th{
    text-align: center;
  }
  .containsearch{
    transition: all 0.5s;cursor: pointer;
    border-radius: 5px;width: 40px; height: 40px; background: #3F7FFA; position: absolute; left: 0px; bottom: 8px;line-height: 33px;
  }
  .containsearch:hover{
background: rgba(46, 95, 185, 1);
transform: scale(1.15);
  }  
  .containsearch{
    transition: all 0.5s;cursor: pointer;
    border-radius: 5px;width: 40px; height: 40px; background: #3F7FFA; position: absolute; left: 0px; bottom: 8px;line-height: 33px;
  }
  .containsearch:hover{
background: rgba(46, 95, 185, 1);
transform: scale(1.15);
  }

  .containsearch2{
    transition: all 0.5s;cursor: pointer;
    border-radius: 5px;width: 40px; height: 40px; background: #3F7FFA; position: absolute; left: 30px; bottom: 8px;line-height: 33px;
  }
  .containsearch2:hover{
background: rgba(46, 95, 185, 1);
transform: scale(1.15);
  }

  #status1{
    background: #00e676;
    animation: loopcolorgreen 2s infinite;
    color: white;
  }

  #status0{
    background: #ff3d00;
    animation: loopcolorred 2s infinite;
    color: white;
  }

@keyframes loopcolorgreen {
    0%{
        background-color:rgba(0, 230, 118,1);
    }
    50%{
        background-color:rgba(0, 230, 118,0.5);
    }
    100%{
        background-color:rgba(0, 230, 118,1);
    }
}
@keyframes loopcolorred {
    0%{
        background-color:rgba(255, 61, 0,1);
    }
    50%{
        background-color:rgba(255, 61, 0,0.5);
    }
    100%{
        background-color:rgba(255, 61, 0,1);
    }
}

.fontawecolorgreen{
  color:green;font-size:20px;position:relative;transition: all 0.5s;
  cursor: pointer;
}
.fontawecolorred{
  color:red;font-size:20px;position:relative;transition: all 0.5s;
  cursor: pointer;

}
.fontawecolorred:hover{
    color:red !important;
    transform: scale(1.35);
}
.fontawecolorgreen:hover{
  color:green !important;   
  transform: scale(1.35);
}
ul:not(.browser-default) > li {
  list-style-type: none;
  border: 1px solid #42a5f5;
}
.responsive{
  margin-left:20px;
}
.input-field{
   margin-bottom: 0;
}

@media only screen and (max-width: 550px) {
  .responsive{
    margin-left:-10px;
  }
  .row{
    margin-bottom: 10px;
    margin-left: -17px;
  }
}
.selectadduser{
  position: relative;
  left: 15px;
}
tbody tr{
  cursor: pointer;
}
#tr td{
  transition: all 0.25s;
}
#tr:hover td{
  background-color: #b9f6ca ;
  transform: scale(1.05)
}

.rela{
  position: relative;
}
.rightawe{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -4.5px;
  color: #00e676;
  font-size: 2.5rem;
}
.container{
  width: 100% !important;
}
.padding0{
  padding: 0;
  margin-top: 6px;
}
.margintop {
  margin-top: 10px;
}
table.highlight > tbody > #nohover:hover {
  background-color: white;
}

p{
 margin-bottom: 0;
}
td, th {
  padding: 2px 5px;
}

.active{
  background: #90caf9;
  transition: all 0.5s;
  transform: scale(1.1);
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

  
.modal .modal-footer .btn{
  margin: 6px 3px;
}

/* input[type=text]:not(.browser-default){
  border-bottom: none; 
} */
.form-control2 {
  border: none !important;
  display: block !important;
  width: 100% !important;
  height: calc(2.25rem + 2px) !important;
  padding: .375rem .75rem !important;
  font-size: 1rem !important;
  line-height: 1.5 !important;
  color:black !important;
  background-color: #fff !important;
  background-clip: padding-box !important;
  border: 1px solid #ced4da !important;
  border-radius: .25rem !important;
  transition: border-color .45s ease-in-out,box-shadow .45s ease-in-out !important;
}
.form-control2:focus {
  color: black !important;
  background-color: #fff !important;
  border-color: #80bdff !important;
  outline: 0 !important;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25) !important;
}
.containmodal{
  width:100%;height:55px
}
.containtext{
  width:90%;height:100%;position:relative;float:left;bottom:-5px;
}
.containfont{
  bottom:-5px;background:#3558AA;width:10%;height:88%;position:relative;float:left
}
.containtext input[type=text]{
  width:93% !important;
}
textarea::placeholder {
  color: rgba(0,0,0,0.25) !important;
}