.menupm{
    padding-right: 0;padding-left: 5px;transition:all 0.5s;
    top: 0;
  }
  .fade-enter-active, .fade-leave-active {
      transition: all .5s;
      animation: righttoleft 0.5s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
      opacity: 0;
      animation: lefttoright 0.5s;
    }
    @keyframes lefttoright {
        0%{
            left: 10px;
        }
        100%{
            left: 0;
        }
    }
    @keyframes righttoleft{
      0%{
          left: 0px;
      }
      100%{
          left: 10px;
      }
    }
    .animationstart1{
      -webkit-animation: swing-in-top-fwd 2s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
      animation: swing-in-top-fwd 2s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
      -webkit-animation-delay: 0.2s;
      animation-delay: 0.2s;
    }
    .animationstart2{
      -webkit-animation: swing-in-top-fwd 2s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
      animation: swing-in-top-fwd 2s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
      -webkit-animation-delay: 0.4s;
      animation-delay: 0.4s;
    }
    .animationstart3{
      -webkit-animation: swing-in-top-fwd 2s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
      animation: swing-in-top-fwd 2s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
      -webkit-animation-delay: 0.6s;
      animation-delay: 0.6s;
    }
    .animationstart4{
      -webkit-animation: swing-in-top-fwd 2s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
      animation: swing-in-top-fwd 2s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
      -webkit-animation-delay: 0.8s;
      animation-delay: 0.8s;
    }
    .animationstart5{
      -webkit-animation: swing-in-top-fwd 2s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
      animation: swing-in-top-fwd 2s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
      -webkit-animation-delay: 1s;
      animation-delay: 1s;
    }
    .animationstart6{
      -webkit-animation: swing-in-top-fwd 2s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
      animation: swing-in-top-fwd 2s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
      -webkit-animation-delay: 1.2s;
      animation-delay: 1.2s;
    }
  
    @-webkit-keyframes swing-in-top-fwd {
      0% {
        -webkit-transform: rotateX(-100deg);
                transform: rotateX(-100deg);
        -webkit-transform-origin: top;
                transform-origin: top;
        opacity: 0;
      }
      100% {
        -webkit-transform: rotateX(0deg);
                transform: rotateX(0deg);
        -webkit-transform-origin: top;
                transform-origin: top;
        opacity: 1;
      }
    }
    @keyframes swing-in-top-fwd {
      0% {
        -webkit-transform: rotateX(-100deg);
                transform: rotateX(-100deg);
        -webkit-transform-origin: top;
                transform-origin: top;
        opacity: 0;
      }
      100% {
        -webkit-transform: rotateX(0deg);
                transform: rotateX(0deg);
        -webkit-transform-origin: top;
                transform-origin: top;
        opacity: 1;
      }
    }
    
    tr th{
      text-align: center;
    }
    .containsearch{
      transition: all 0.5s;cursor: pointer;
      border-radius: 5px;width: 40px; height: 40px; background: #3F7FFA; position: absolute; left: 0px; bottom: 8px;line-height: 33px;
    }
    .containsearch:hover{
  background: rgba(46, 95, 185, 1);
  transform: scale(1.15);
    }  
    .containsearch{
      transition: all 0.5s;cursor: pointer;
      border-radius: 5px;width: 40px; height: 40px; background: #3F7FFA; position: absolute; left: 0px; bottom: 8px;line-height: 33px;
    }
    .containsearch:hover{
  background: rgba(46, 95, 185, 1);
  transform: scale(1.15);
    }
  
    .containsearch2{
      transition: all 0.5s;cursor: pointer;
      border-radius: 5px;width: 40px; height: 40px; background: #3F7FFA; position: absolute; left: 30px; bottom: 8px;line-height: 33px;
    }
    .containsearch2:hover{
  background: rgba(46, 95, 185, 1);
  transform: scale(1.15);
    }
  
    #status1{
      background: #00e676;
      animation: loopcolorgreen 2s infinite;
      color: white;
    }
  
    #status0{
      background: #ff3d00;
      animation: loopcolorred 2s infinite;
      color: white;
    }
  
  @keyframes loopcolorgreen {
      0%{
          background-color:rgba(0, 230, 118,1);
      }
      50%{
          background-color:rgba(0, 230, 118,0.5);
      }
      100%{
          background-color:rgba(0, 230, 118,1);
      }
  }
  @keyframes loopcolorred {
      0%{
          background-color:rgba(255, 61, 0,1);
      }
      50%{
          background-color:rgba(255, 61, 0,0.5);
      }
      100%{
          background-color:rgba(255, 61, 0,1);
      }
  }
  
  .fontawecolorgreen{
    color:green;font-size:20px;position:relative;transition: all 0.5s;
    cursor: pointer;
  }
  .fontawecolorred{
    color:red;font-size:20px;position:relative;transition: all 0.5s;
    cursor: pointer;
  
  }
  .fontawecolorred:hover{
      color:red !important;
      transform: scale(1.35);
  }
  .fontawecolorgreen:hover{
    color:green !important;   
    transform: scale(1.35);
  }
  ul:not(.browser-default) > li {
    list-style-type: none;
    border: 1px solid #42a5f5;
  }
  .responsive{
    margin-left:20px;
  }
  .input-field{
     margin-bottom: 0;
  }
  
  @media only screen and (max-width: 550px) {
    .responsive{
      margin-left:-10px;
    }
    .row{
      margin-bottom: 10px;
      margin-left: -17px;
    }
  }
  .selectadduser{
    position: relative;
    text-align: center;
    text-align-last: center;
  }
  tbody tr{
    cursor: pointer;
  }
  #tr td{
    transition: all 0.25s;
    padding:10px 5px !important;
  }
  #tr:hover td{
    background: rgba(11, 160, 247, 0.363);
  }
  
  .black-text {
    color: #000000 !important;
    position: relative;
    right: 21px;
  }
  
  .row{
    margin-bottom: 0;
  }
  label.alwayactive{
    color: rgb(0, 136, 203)
  }
  .input-field > label:not(.label-icon).alwayactive {
    -webkit-transform: translateY(-14px) scale(0.8);
    transform: translateY(-14px) scale(0.8);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }
  .pdleft0{
    padding-left: 0;
    padding-right: 0;
  }
  
  table.highlight > tbody > .nohover:hover {
    background: none !important;
  }
  .formuser input{
    text-align: center;
  }
  table.highlight > tbody > tr:hover {
    background: rgba(11, 160, 247, 0.363) !important;
  }
  .modal .modal-content {
    padding: 0;
  }
  @media only screen and (min-width: 600px) {
    .animationstart4{
          margin-top: 40;
    }
   
  }
  @media only screen and (max-width: 600px) {
    .mt10{
      margin-top:0 !important;
    }
   
  }
  .mt10{
    margin-top:10px
  }
  tr td{
    text-align: center
  }